#sidebar {
  display: none;
  transition: width 0.2s ease-in-out;
  width: 300px;
}
#sidebar.active {
  width: 5rem;
}
#mobile-sidebar {
  display: flex;
}

.burger {
  --burger-transition: all ease 250ms;
}

.burger > div {
  background-color: #1976d1;
  border-radius: 0.125rem;
  transform-origin: left;
  width: 100%;
  transition: var(--burger-transition);
}

.burger.active > div:nth-child(1) {
  rotate: 40deg;
}
.burger.active > div:nth-child(2) {
  width: 0px;
}
.burger.active > div:nth-child(3) {
  rotate: -40deg;
}

@media screen and (min-width: 640px) {
  #sidebar {
    display: flex;
  }
  #mobile-sidebar {
    display: none;
  }
}
