:root {
  --login-circle-size: 8rem;
}
#login-form {
  height: auto;
  border-radius: 1rem;
  display: flex;
}
.login-form-inner {
  width: auto;
  height: auto;
  border-radius: 1rem;
}

.login-form-inner.active {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s ease-in-out;
}
#login-form.active {
  width: var(--login-circle-size);
  height: var(--login-circle-size);
  border-radius: 100%;
  transition: 0.5s ease-in-out;
  animation-name: rotationCircle;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

#login-form input.active,
#login-form .input-field.active {
  display: none;
}
@media screen and (min-width: 900px) {
  #login-form {
    width: min(40vw, 400px);
    height: auto;
    border-radius: 1rem;
  }
}
@keyframes rotationCircle {
  0% {
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0.6) 10%, rgba(0, 0, 0, 0) 80%);
    rotate: 0deg;
  }
  100% {
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0.6) 10%, rgba(0, 0, 0, 0) 80%);
    rotate: 360deg;
  }
}
