body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0;
}

a:hover {
  color: #fff;
}

#drag-file-element {
  border-radius: 10px;
  border: 1px solid lightgrey;
  background: #5ba15ee0;
}
